@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* styling login and signup page */
.login-page,
.signup-page {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
}

.input-div::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #afafaf;
    transition: .3s;
    background: #fff;
    padding: 0 5px;
    cursor: text;
}

#username-div-signup::after {
    content: "Enter Username";
}

#password-div-signup::after {
    content: "Enter Password";
}

#confirmPassword-div-signup::after {
    content: "Confirm Password";
}

#username-div-login::after {
    content: "Enter Your Username";
}

#password-div-login::after {
    content: "Enter Your Password";
}

.input-div-clicked::after {
    top: 0;
    color: #111;
    font-size: 13px;
}

.auth-button {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #0073e6;
    color: #fff;
    font-weight: 500;
}

.auth-button:hover {
    background: #0054a8;
}

.login-instead,
.signup-instead {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    gap: 4px;
    border-radius: 50px;
    border: 1px solid #DADCE0;
    color: #383838;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* styling home page */
.home-page {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
}

.task-icons,
.welcome-heading {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.task-title {
    font-size: clamp(0.9rem, 2vw + 0.25rem, 1.5rem);
}

.username-text {
    font-size: clamp(0.8rem, 2vw + 0.25rem, 1.125rem);
}

.center-heading,
.profile-btn {
    font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem);
}

.task-checkbox {
    width: clamp(1rem, 2vw + 0.5rem, 1.5rem);
    height: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.serial-div {
    min-width: clamp(1rem, 2vw + 0.5rem, 1.5rem);
    height: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.serial-number {
    font-size: clamp(0.7rem, 2vw + 0.15rem, 1rem);
}

.logout-icon {
    font-size: clamp(1.2rem, 2vw + 0.5rem, 1.5rem);
}

.logout-text {
    font-size: clamp(1rem, 2vw + 0.25rem, 1.25rem);
}

.scrollable {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: auto;

    @media (max-width: 1000px) {
        scrollbar-width: thin;
    }

    @media (max-width: 640px) {
        scrollbar-width: none;
    }
}

.task {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.1), rgba(0, 0, 255, 0.1));
    cursor: pointer;
    transition: all 0.2s;
}

.task:hover {
    transform: scale(1.01);
}

.add-task-btn-div {
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.show-modal-container {
    visibility: visible;
}

.bottom-modal-container {
    position: fixed;
    bottom: 0;
    min-height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    transform: translateY(100%);

    @media (max-width: 640px) {
        min-height: 134px;
    }
}

.show-bottom-modal-container {
    transform: translateY(-5%);
}

.bottom-confirm-modal-container {
    position: fixed;
    bottom: 0;
    min-height: 168px;
    transition-duration: 0.2s;
    transform: translateY(100%);

    @media (max-width: 640px) {
        min-height: 134px;
    }
}

.show-bottom-confirm-modal-container {
    transform: translateY(-5%);
}